<div class='addsearch-conversational-search-result'>
  <div class='header'>
    <div class='main-headline'>
      <svg
        width='24'
        height='25'
        viewBox='0 0 24 25'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M8.62341 16.5296C8.79246 16.649 8.98594 16.7293 9.18984 16.7646C9.39374 16.8 9.60295 16.7896 9.80232 16.7341C10.0017 16.6787 10.1862 16.5795 10.3426 16.444C10.4989 16.3084 10.6232 16.1397 10.7063 15.9502L11.3663 13.9445C11.527 13.462 11.7977 13.0236 12.1572 12.6639C12.5166 12.3041 12.9548 12.033 13.4371 11.8719L15.3554 11.2488C15.6278 11.1534 15.8634 10.975 16.0291 10.7388C16.1568 10.5593 16.2399 10.3521 16.2717 10.1342C16.3034 9.91634 16.2829 9.69402 16.2118 9.48561C16.1407 9.27721 16.0211 9.0887 15.8628 8.93564C15.7045 8.78258 15.5121 8.66937 15.3014 8.60533L13.4028 7.98819C12.9202 7.82807 12.4814 7.55772 12.1214 7.19857C11.7613 6.83942 11.4899 6.40133 11.3286 5.91905L10.7054 4.00162C10.6095 3.73 10.4316 3.49489 10.1963 3.32876C9.95947 3.16547 9.67862 3.07803 9.39098 3.07803C9.10334 3.07803 8.8225 3.16547 8.5857 3.32876C8.34653 3.49768 8.1666 3.73758 8.07141 4.01448L7.44055 5.9559C7.27979 6.42576 7.01418 6.85286 6.66385 7.20482C6.31351 7.55679 5.88766 7.82439 5.41855 7.98733L3.49855 8.60962C3.22535 8.70619 2.98903 8.88553 2.8225 9.12266C2.65596 9.3598 2.56748 9.64295 2.56937 9.93272C2.57125 10.2225 2.66341 10.5045 2.83302 10.7394C3.00263 10.9744 3.24125 11.1506 3.5157 11.2436L5.41512 11.8608C6.03103 12.0672 6.57243 12.4506 6.9717 12.963C7.1997 13.257 7.37541 13.587 7.49112 13.9402L8.11512 15.855C8.21112 16.1276 8.38941 16.3633 8.62512 16.5296M16.9771 21.741C17.1516 21.8643 17.3601 21.9302 17.5737 21.9296C17.7859 21.9303 17.993 21.8653 18.1668 21.7436C18.3454 21.6168 18.4792 21.4368 18.5491 21.2293L18.868 20.2496C18.9354 20.0462 19.0492 19.8612 19.2005 19.7095C19.3519 19.5577 19.5365 19.4433 19.7397 19.3753L20.7391 19.0513C20.9405 18.9794 21.1148 18.8472 21.2382 18.6726C21.3617 18.4981 21.4284 18.2897 21.4291 18.0759C21.4291 17.8564 21.3589 17.6427 21.2288 17.4659C21.0986 17.2892 20.9153 17.1587 20.7057 17.0936L19.7251 16.7765C19.5216 16.709 19.3366 16.595 19.1848 16.4435C19.0331 16.2921 18.9187 16.1073 18.8508 15.9039L18.5251 14.907C18.4549 14.7036 18.3226 14.5273 18.1469 14.403C17.9711 14.2787 17.7609 14.2127 17.5456 14.2142C17.3304 14.2157 17.1211 14.2847 16.9471 14.4114C16.7732 14.5382 16.6434 14.7163 16.576 14.9208L16.2554 15.903C16.1897 16.1038 16.0788 16.2868 15.9312 16.4379C15.7837 16.589 15.6034 16.7043 15.4043 16.7748L14.4048 17.0988C14.203 17.1704 14.0283 17.3027 13.9045 17.4774C13.7807 17.6522 13.7138 17.8609 13.7131 18.075C13.7133 18.2911 13.7816 18.5016 13.9082 18.6767C14.0349 18.8518 14.2134 18.9826 14.4186 19.0505L15.3991 19.3693C15.6032 19.437 15.7886 19.5516 15.9404 19.7039C16.0922 19.8562 16.2063 20.0419 16.2734 20.2462L16.5983 21.243C16.6692 21.4444 16.801 21.6188 16.9754 21.7419'
          fill='#177FFF'
        />
      </svg>

      <h3 class='main-headline-text'>{{mainHeadlineText}}</h3>
    </div>
    <p class='ai-explanation-text'>
      {{aiExplanationText}}
    </p>
  </div>
  {{#if hadError}}
    {{! Content to display if there was an error }}
    <div class='error-message'>
      <h2 class='error-message-headline'>Unable to generate AI Answer at this time.</h2>
      <p class='error-message-text'></p>We apologize for the inconvenience. Please try again later.</p>
    </div>
  {{else}}
    {{#if isResultLoading}}
      <div class='loading-overlay'>
        <svg
          class='loading-spinner'
          viewBox='0 0 100 101'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z'
            fill='#f4f9ff'
          />
          <path
            d='M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z'
            fill='#177FFF'
          />
        </svg>
      </div>
    {{/if}}
    <h4 class='sub-headline'>Question: "{{subHeadlineText}}"</h4>
    <div>
      <div class='answer-container'>
        <div class='fade-out-overlay'></div>
        <div class='answer-text'>
          <p>{{markdown answerText}}</p>
        </div>
        <div class='action-buttons-group'>
          <span class='copy-confirm-message'></span>
          <button class='copy-btn'><svg
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              xmlns='http://www.w3.org/2000/svg'
            >
              <path
                d='M16.001 1.00018H4.00098C2.90098 1.00018 2.00098 1.90018 2.00098 3.00018V17.0002H4.00098V3.00018H16.001V1.00018ZM19.001 5.00018H8.00098C6.90098 5.00018 6.00098 5.90018 6.00098 7.00018V21.0002C6.00098 22.1002 6.90098 23.0002 8.00098 23.0002H19.001C20.101 23.0002 21.001 22.1002 21.001 21.0002V7.00018C21.001 5.90018 20.101 5.00018 19.001 5.00018ZM19.001 21.0002H8.00098V7.00018H19.001V21.0002Z'
                fill='#177FFF'
              />
            </svg>
          </button>
          <button class='thumbs-up-btn'>
            {{#equals sentimentState 'positive'}}
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_184_2273)">
                  <path d="M12.5205 0.946481C12.634 0.745524 12.8066 0.58434 13.0148 0.484789C13.223 0.385239 13.4568 0.35214 13.6845 0.389981L14.0415 0.449981C14.7187 0.56282 15.3645 0.817439 15.9365 1.19716C16.5085 1.57689 16.9939 2.07316 17.3608 2.65347C17.7277 3.23378 17.9679 3.88505 18.0656 4.56464C18.1634 5.24422 18.1165 5.93678 17.928 6.59698L17.241 8.99998H18.2385C18.9963 8.99997 19.7436 9.1766 20.4211 9.51585C21.0987 9.85509 21.6879 10.3476 22.1418 10.9543C22.5958 11.561 22.9021 12.2652 23.0364 13.011C23.1707 13.7567 23.1293 14.5235 22.9155 15.2505L21.213 21.039C20.9615 21.8939 20.44 22.6444 19.7264 23.1781C19.0129 23.7119 18.1456 24.0002 17.2545 24H9.879C8.70381 23.9998 7.55819 23.6316 6.603 22.947C6.3585 23.274 6.0411 23.5394 5.67603 23.7222C5.31096 23.905 4.90828 24.0001 4.5 24H2.625C1.92881 24 1.26113 23.7234 0.768845 23.2311C0.276562 22.7389 0 22.0712 0 21.375L0 11.625C0 10.176 1.176 8.99998 2.625 8.99998H7.7505C7.81675 8.99981 7.88177 8.98209 7.93894 8.94863C7.99612 8.91517 8.04341 8.86716 8.076 8.80948L12.5205 0.946481Z" fill="#A0CBFF"/>
                  <path d="M12.5205 0.946481C12.634 0.745524 12.8066 0.58434 13.0148 0.484789C13.223 0.385239 13.4568 0.35214 13.6845 0.389981L14.0415 0.449981C14.7187 0.56282 15.3645 0.817439 15.9365 1.19716C16.5085 1.57689 16.9939 2.07316 17.3608 2.65347C17.7277 3.23378 17.9679 3.88505 18.0656 4.56464C18.1634 5.24422 18.1165 5.93678 17.928 6.59698L17.241 8.99998H18.2385C18.9963 8.99997 19.7436 9.1766 20.4211 9.51585C21.0987 9.85509 21.6879 10.3476 22.1418 10.9543C22.5958 11.561 22.9021 12.2652 23.0364 13.011C23.1707 13.7567 23.1293 14.5235 22.9155 15.2505L21.213 21.039C20.9615 21.8939 20.44 22.6444 19.7264 23.1781C19.0129 23.7119 18.1456 24.0002 17.2545 24H9.879C8.70381 23.9998 7.55819 23.6316 6.603 22.947C6.3585 23.274 6.0411 23.5394 5.67603 23.7222C5.31096 23.905 4.90828 24.0001 4.5 24H2.625C1.92881 24 1.26113 23.7234 0.768845 23.2311C0.276562 22.7389 0 22.0712 0 21.375L0 11.625C0 10.176 1.176 8.99998 2.625 8.99998H7.7505C7.81675 8.99981 7.88177 8.98209 7.93894 8.94863C7.99612 8.91517 8.04341 8.86716 8.076 8.80948L12.5205 0.946481ZM7.125 20.4735L7.719 20.9685C8.325 21.474 9.09 21.75 9.879 21.75H17.2545C17.6596 21.7503 18.0539 21.6193 18.3784 21.3768C18.7029 21.1342 18.9401 20.7931 19.0545 20.4045L20.757 14.616C20.8722 14.2245 20.8945 13.8116 20.8222 13.41C20.75 13.0083 20.585 12.6291 20.3406 12.3024C20.0961 11.9756 19.7788 11.7104 19.4139 11.5277C19.049 11.345 18.6466 11.2499 18.2385 11.25H15.75C15.5759 11.2499 15.4042 11.2095 15.2484 11.1318C15.0925 11.0542 14.9569 10.9414 14.852 10.8024C14.7472 10.6634 14.6761 10.5019 14.6442 10.3308C14.6124 10.1596 14.6207 9.98339 14.6685 9.81598L15.765 5.97898C15.9506 5.32919 15.8784 4.63287 15.5635 4.03495C15.2486 3.43702 14.7153 2.98357 14.0745 2.76898L10.035 9.91648C9.80634 10.3211 9.47437 10.6577 9.073 10.892C8.67163 11.1263 8.21525 11.2498 7.7505 11.25H7.125V20.4735ZM4.875 11.25H2.625C2.52554 11.25 2.43016 11.2895 2.35984 11.3598C2.28951 11.4301 2.25 11.5255 2.25 11.625V21.375C2.25 21.582 2.418 21.75 2.625 21.75H4.5C4.59946 21.75 4.69484 21.7105 4.76517 21.6401C4.83549 21.5698 4.875 21.4744 4.875 21.375V11.25Z" fill="#1969CC"/>
                </g>
                <defs>
                  <clipPath id="clip0_184_2273">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            {{else}}
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_6294)">
                  <path d="M12.5215 0.946664C12.635 0.745707 12.8076 0.584523 13.0158 0.484973C13.224 0.385422 13.4578 0.352323 13.6855 0.390164L14.0425 0.450164C14.7197 0.563003 15.3655 0.817622 15.9375 1.19735C16.5095 1.57707 16.9949 2.07334 17.3618 2.65365C17.7287 3.23397 17.9689 3.88524 18.0666 4.56482C18.1644 5.2444 18.1175 5.93697 17.929 6.59716L17.242 9.00016H18.2395C18.9972 9.00015 19.7445 9.17678 20.4221 9.51603C21.0997 9.85528 21.6888 10.3478 22.1428 10.9545C22.5968 11.5612 22.9031 12.2654 23.0374 13.0112C23.1717 13.7569 23.1303 14.5237 22.9165 15.2507L21.214 21.0392C20.9625 21.8941 20.441 22.6446 19.7274 23.1783C19.0138 23.7121 18.1466 24.0004 17.2555 24.0002H9.87998C8.70479 24 7.55917 23.6318 6.60398 22.9472C6.35948 23.2741 6.04208 23.5396 5.677 23.7224C5.31193 23.9052 4.90926 24.0003 4.50098 24.0002H2.62598C1.92978 24.0002 1.2621 23.7236 0.769821 23.2313C0.277538 22.739 0.000976563 22.0714 0.000976563 21.3752L0.000976562 11.6252C0.000976562 10.1762 1.17698 9.00016 2.62598 9.00016H7.75148C7.81772 8.99999 7.88274 8.98227 7.93992 8.94881C7.99709 8.91535 8.04438 8.86734 8.07698 8.80966L12.5215 0.946664ZM7.12598 20.4737L7.71998 20.9687C8.32598 21.4742 9.09098 21.7502 9.87998 21.7502H17.2555C17.6606 21.7504 18.0549 21.6195 18.3794 21.377C18.7039 21.1344 18.9411 20.7933 19.0555 20.4047L20.758 14.6162C20.8732 14.2247 20.8955 13.8118 20.8232 13.4101C20.7509 13.0085 20.586 12.6293 20.3415 12.3026C20.0971 11.9758 19.7798 11.7106 19.4149 11.5279C19.05 11.3452 18.6475 11.2501 18.2395 11.2502H15.751C15.5769 11.2501 15.4052 11.2097 15.2493 11.132C15.0935 11.0543 14.9578 10.9416 14.853 10.8026C14.7482 10.6636 14.677 10.5021 14.6452 10.331C14.6133 10.1598 14.6217 9.98357 14.6695 9.81616L15.766 5.97916C15.9516 5.32938 15.8794 4.63305 15.5645 4.03513C15.2496 3.43721 14.7163 2.98376 14.0755 2.76916L10.036 9.91666C9.80732 10.3213 9.47535 10.6579 9.07397 10.8922C8.6726 11.1265 8.21622 11.25 7.75148 11.2502H7.12598V20.4737ZM4.87598 11.2502H2.62598C2.52652 11.2502 2.43114 11.2897 2.36081 11.36C2.29049 11.4303 2.25098 11.5257 2.25098 11.6252V21.3752C2.25098 21.5822 2.41898 21.7502 2.62598 21.7502H4.50098C4.60043 21.7502 4.69582 21.7107 4.76614 21.6403C4.83647 21.57 4.87598 21.4746 4.87598 21.3752V11.2502Z" fill="#177FFF"/>
                </g>
                <defs>
                  <clipPath id="clip0_2_6294">
                    <rect width="24" height="24" fill="white" transform="translate(0.000976562 0.000183105)"/>
                  </clipPath>
                </defs>
              </svg>
            {{/equals}}
          </button>
          <button class='thumbs-down-btn'>
            {{#equals sentimentState 'negative'}}
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_184_2278)">
                  <path d="M11.4795 23.0535C11.366 23.2545 11.1934 23.4157 10.9852 23.5152C10.777 23.6148 10.5432 23.6479 10.3155 23.61L9.9585 23.55C9.28126 23.4372 8.63549 23.1826 8.06348 22.8028C7.49147 22.4231 7.00612 21.9268 6.63922 21.3465C6.27231 20.7662 6.03211 20.1149 5.93436 19.4354C5.83662 18.7558 5.88352 18.0632 6.072 17.403L6.759 15L5.7615 15C5.00375 15 4.25643 14.8234 3.57886 14.4842C2.90129 14.1449 2.31214 13.6524 1.85816 13.0457C1.40419 12.439 1.0979 11.7348 0.963597 10.989C0.829299 10.2433 0.870694 9.47648 1.0845 8.74952L2.787 2.96102C3.03845 2.10612 3.55999 1.35563 4.27357 0.821871C4.98714 0.288109 5.85438 -0.000225388 6.74549 2.05819e-05L14.121 1.99371e-05C15.2962 0.000187681 16.4418 0.368422 17.397 1.05302C17.6415 0.726046 17.9589 0.460616 18.324 0.277819C18.689 0.0950227 19.0917 -9.68457e-05 19.5 1.94669e-05L21.375 1.9303e-05C22.0712 1.92421e-05 22.7389 0.276581 23.2312 0.768864C23.7234 1.26115 24 1.92883 24 2.62502L24 12.375C24 13.824 22.824 15 21.375 15L16.2495 15C16.1833 15.0002 16.1182 15.0179 16.0611 15.0514C16.0039 15.0848 15.9566 15.1328 15.924 15.1905L11.4795 23.0535Z" fill="#A0CBFF"/>
                  <path d="M11.4795 23.0535C11.366 23.2545 11.1934 23.4157 10.9852 23.5152C10.777 23.6148 10.5432 23.6479 10.3155 23.61L9.9585 23.55C9.28126 23.4372 8.63549 23.1826 8.06348 22.8028C7.49147 22.4231 7.00612 21.9268 6.63922 21.3465C6.27231 20.7662 6.03211 20.1149 5.93436 19.4354C5.83662 18.7558 5.88352 18.0632 6.072 17.403L6.759 15L5.7615 15C5.00375 15 4.25643 14.8234 3.57886 14.4842C2.90129 14.1449 2.31214 13.6524 1.85816 13.0457C1.40419 12.439 1.0979 11.7348 0.963597 10.989C0.829299 10.2433 0.870694 9.47648 1.0845 8.74952L2.787 2.96102C3.03845 2.10612 3.55999 1.35563 4.27357 0.821871C4.98714 0.288109 5.85438 -0.000225388 6.74549 2.05819e-05L14.121 1.99371e-05C15.2962 0.000187681 16.4418 0.368422 17.397 1.05302C17.6415 0.726046 17.9589 0.460616 18.324 0.277819C18.689 0.0950227 19.0917 -9.68457e-05 19.5 1.94669e-05L21.375 1.9303e-05C22.0712 1.92421e-05 22.7389 0.276581 23.2312 0.768864C23.7234 1.26115 24 1.92883 24 2.62502L24 12.375C24 13.824 22.824 15 21.375 15L16.2495 15C16.1833 15.0002 16.1182 15.0179 16.0611 15.0514C16.0039 15.0848 15.9566 15.1328 15.924 15.1905L11.4795 23.0535ZM16.875 3.52652L16.281 3.03152C15.675 2.52602 14.91 2.25002 14.121 2.25002L6.74549 2.25002C6.34038 2.24974 5.94606 2.38067 5.62158 2.62322C5.2971 2.86577 5.0599 3.20689 4.9455 3.59552L3.243 9.38402C3.1278 9.77549 3.10547 10.1884 3.17776 10.59C3.25005 10.9917 3.41498 11.3709 3.65944 11.6976C3.90391 12.0244 4.22118 12.2896 4.58608 12.4723C4.95097 12.655 5.35343 12.7501 5.7615 12.75L8.25 12.75C8.4241 12.7501 8.59582 12.7905 8.75164 12.8682C8.90746 12.9458 9.04312 13.0586 9.14796 13.1976C9.25279 13.3366 9.32393 13.4981 9.35578 13.6692C9.38763 13.8404 9.37932 14.0166 9.3315 14.184L8.235 18.021C8.04942 18.6708 8.12158 19.3671 8.43647 19.9651C8.75136 20.563 9.28471 21.0164 9.9255 21.231L13.965 14.0835C14.1937 13.6789 14.5256 13.3423 14.927 13.108C15.3284 12.8737 15.7848 12.7502 16.2495 12.75L16.875 12.75L16.875 3.52652ZM19.125 12.75L21.375 12.75C21.4745 12.75 21.5698 12.7105 21.6402 12.6402C21.7105 12.5699 21.75 12.4745 21.75 12.375L21.75 2.62502C21.75 2.41802 21.582 2.25002 21.375 2.25002L19.5 2.25002C19.4005 2.25002 19.3052 2.28953 19.2348 2.35985C19.1645 2.43018 19.125 2.52556 19.125 2.62502L19.125 12.75Z" fill="#1969CC"/>
                </g>
                <defs>
                  <clipPath id="clip0_184_2278">
                    <rect width="24" height="24" fill="white" transform="translate(24 24) rotate(180)"/>
                  </clipPath>
                </defs>
              </svg>
            {{else}}
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_6296)">
                  <path d="M11.4808 23.0537C11.3673 23.2546 11.1947 23.4158 10.9865 23.5154C10.7782 23.6149 10.5444 23.648 10.3168 23.6102L9.95977 23.5502C9.28236 23.4374 8.63643 23.1827 8.0643 22.8029C7.49216 22.4231 7.00672 21.9267 6.63979 21.3462C6.27286 20.7657 6.03271 20.1142 5.93508 19.4345C5.83746 18.7547 5.88455 18.062 6.07327 17.4017L6.76027 15.0002H5.76277C5.00502 15.0002 4.2577 14.8236 3.58013 14.4843C2.90257 14.1451 2.31341 13.6525 1.85944 13.0458C1.40546 12.4391 1.09917 11.7349 0.964872 10.9892C0.830574 10.2434 0.871969 9.47665 1.08577 8.74968L2.78827 2.96118C3.03863 2.10996 3.55679 1.36215 4.26583 0.828749C4.97487 0.295346 5.83701 0.00478193 6.72427 0.000183105H14.1463C15.3163 0.00468311 16.4533 0.375183 17.3983 1.05318C17.6411 0.728434 17.9559 0.464356 18.3179 0.281661C18.6799 0.0989658 19.0793 0.00262104 19.4848 0.000183105L21.3928 0.000183105C22.0861 0.00454127 22.7495 0.283026 23.2383 0.774837C23.727 1.26665 24.0013 1.93184 24.0013 2.62518V12.3752C24.0013 13.0714 23.7247 13.7391 23.2324 14.2313C22.7401 14.7236 22.0725 15.0002 21.3763 15.0002H16.2508C16.1845 15.0004 16.1195 15.0181 16.0623 15.0515C16.0052 15.085 15.9579 15.133 15.9253 15.1907L11.4808 23.0537ZM16.8763 3.52668L16.2823 3.03168C15.6758 2.52664 14.9115 2.25012 14.1223 2.25018H6.74527C6.34041 2.25022 5.94644 2.3813 5.62226 2.62383C5.29808 2.86636 5.0611 3.2073 4.94677 3.59568L3.24427 9.38418C3.12908 9.77566 3.10674 10.1886 3.17903 10.5902C3.25132 10.9918 3.41625 11.3711 3.66072 11.6978C3.90518 12.0245 4.22246 12.2898 4.58735 12.4724C4.95224 12.6551 5.3547 12.7502 5.76277 12.7502H8.25127C8.42537 12.7502 8.59709 12.7907 8.75291 12.8683C8.90873 12.946 9.0444 13.0588 9.14923 13.1978C9.25407 13.3368 9.32521 13.4982 9.35706 13.6694C9.3889 13.8406 9.38059 14.0168 9.33277 14.1842L8.23627 18.0212C8.05069 18.671 8.12286 19.3673 8.43775 19.9652C8.75263 20.5631 9.28598 21.0166 9.92677 21.2312L13.9663 14.0837C14.1949 13.6791 14.5269 13.3424 14.9283 13.1081C15.3296 12.8739 15.786 12.7503 16.2508 12.7502H16.8763V3.52668ZM19.1263 12.7502H21.3763C21.4757 12.7502 21.5711 12.7107 21.6414 12.6403C21.7118 12.57 21.7513 12.4746 21.7513 12.3752V2.62518C21.7513 2.52573 21.7118 2.43034 21.6414 2.36002C21.5711 2.28969 21.4757 2.25018 21.3763 2.25018H19.5013C19.4018 2.25018 19.3064 2.28969 19.2361 2.36002C19.1658 2.43034 19.1263 2.52573 19.1263 2.62518V12.7502Z" fill="#177FFF"/>
                </g>
                <defs>
                  <clipPath id="clip0_2_6296">
                    <rect width="24" height="24" fill="white" transform="translate(0.000976562 0.000183105)"/>
                  </clipPath>
                </defs>
              </svg>
            {{/equals}}
        </button>
        </div>
        {{#if answerText}}
          <div class='sources'>
            <h4 class='sources-headline'>{{sourcesHeadlineText}}</h4>
            <div class='sources-list'>
              {{#each sources}}
                <a href='{{url}}' class='source'>
                  {{title}}
                </a>
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
      <button class='show-more-btn'><span class='button-text'>Show more</span>
        <svg
          class='chevron'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M6 9L12 15L18 9'
            stroke='#177FFF'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          />
        </svg>
      </button>
    </div>
  {{/if}}
</div>