<span class="main-image {{document_type}} {{#unless images.main}}noimage{{/unless}}"{{#if images.main}} style="background-image: url(data:image/jpeg;base64,{{images.main_b64}})"{{/if}}>
  {{#if images.main}}<img src="{{images.main}}" alt="{{title}}" />
  {{else if style.image_url}}<img src="{{style.image_url}}" alt="{{title}}" />{{/if}}
</span>
