<div class="addsearch-filters-range" role="group" {{#if label}}aria-labelledby="range-label-{{field}}"{{/if}}>
  {{#if label}}<div id="range-label-{{field}}" class="filter-group-label">{{label}}</div>{{/if}}
  <label for="range-from-{{field}}" class="addsearch-sr-only">Minimum value</label>
  <input type="text" id="range-from-{{field}}" name="from" value="{{from}}" placeholder="{{fromPlaceholder}}" aria-describedby="range-help-{{field}}">
  <span aria-hidden="true"> - </span>
  <label for="range-to-{{field}}" class="addsearch-sr-only">Maximum value</label>
  <input type="text" id="range-to-{{field}}" name="to" value="{{to}}" placeholder="{{toPlaceholder}}" aria-describedby="range-help-{{field}}">
  {{#or from to}}
    <button aria-label="{{#if ../label}}Clear {{../../label}} range filter{{else}}Clear range filter{{/if}}">
      &#215;
    </button>
  {{/or}}
  <div id="range-help-{{field}}" class="addsearch-sr-only">Enter a range to filter results</div>
</div>
